
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,*::before,*::after{ padding: 0;  margin: 0;  box-sizing: border-box; user-select: none}

.slider_section,
.carousel,
.arrows,
.left_arrow,
.right_arrow,
.dots,
.dot_active,
.dot_default,
button,
.slider_container,
.slider_pic,
.slider_content,
.slider_text,
.slider_h2,
.slider_h3,
.slider_button,
.slider_button_h2{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.inner {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    position: relative;
    width:100vw;
    height: 100vh;
    white-space: nowrap;
    transition: all 0.25s linear;
}

.carousel-item {
    display: grid;
    position: relative;
    height: 100vh;
    width:100vw;
}



.arrows{
    grid-template-columns: repeat(2,1fr);
    width:100vw;
    height: 10vh;
    bottom: 50vh;
}
.left_arrow,
.right_arrow {
    position: absolute;
    width: 5vw;
    height: 8.7vh;
    font-size: 3vh;
    background-color: rgba(0,0,0,0.6);
    color: rgba(255,255,255,0.8);
    border: none;
    border-radius: 5vh;
    transition: all 0.5s linear;
}

.left_arrow{ left: 5vw; }

.right_arrow{ right: 5vw; }

.left_arrow:hover,
.right_arrow:hover{
    background-color: rgba(255,255,255,0.6);
    color: rgba(0,0,0,0.8);
    transition: all 0.5s linear;
}

.left_arrow:active,
.right_arrow:active{
    color: #ffa500;
    transition: all 0.1s linear;
}

.dots{
    grid-template-columns: repeat(5,1fr);
    width: 30vw;
    height: 10vh;
    bottom: 15vh;
}

.dot_active{
    width: 2.5vw;
    height: 4vh;
    background-color: rgba(255,255,255,0.7);
    color: #ffa500;
    border:none;
    border-radius: 5vh;
    transition: all 0.25s linear;
}

.dot_default{
    width: 2.5vw;
    height: 4vh;
    background-color: rgba(0,0,0,0.8);
    color: rgba(255,255,255,0.8);
    border:none;
    border-radius: 5vh;
    transition: all 0.5s linear;
}

.dot_default:hover{
    background-color: rgba(255,255,255,0.7);
    color: rgba(0,0,0,0.8);
    transition: all 0.5s linear;
}

.slider_section{
    width: 100vw;
    height: 100vh;

}

.slider_container{
    width: 100vw;
    height: 100vh;
    top: 10vh;
}

.slider_pic{
    width: 100vw;
    height: 100vh;
    top: 30vh;
}

.slider_content{
    width: 70vw;
    height: 60vh;
    bottom: 50vh;
}

.slider_text{
    width: 70vw;
    height: 50vh;
}

.slider_h2{
    width: 50vw;
    height: 10vh;
    color: rgba(255,255,255,0.8);
    font-size: 4vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.slider_h3{
    width: 50vw;
    height: 10vh;
    color: rgba(255,255,255,0.8);
    font-size: 4vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}


.slider_button{
    width: 10vw;
    height: 5vh;
    background-color:  rgba(255,255,255,0.8);
    cursor: pointer;
    border: none;
    border-radius: 5vh;
    transition: all 0.5s linear;
}

.slider_button_h2{
    width: 20vw;
    height: 10vh;
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: rgba(0,0,0,0.8);
    transition: all 0.5s linear;
}

.slider_button:hover{
    background-color:  rgba(0,0,0,0.6);
    transition: all 0.5s linear;
}

.slider_button:hover .slider_button_h2{
    color: rgba(255,255,255,0.8);
    transition: all 0.5s linear;
}

.slider_button:active .slider_button_h2{
    color: #ffa500;
    transition: all 0.1s linear;
}
